body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;

    /* create 3x4 grid layout */
    display: grid;
    /* create 2 rows, each will take 50% of the width */
    grid-template-rows: repeat(3, 1fr);
    /* 
    create 4 columns, each will take 50% of the width
    grid-template-columns: 1fr 1fr 1fr 1fr
    */
    grid-template-columns: repeat(4, 1fr);
}

/* TABLET VIEW */
@media (max-width: 1023px) {
    .container {
        height: auto;
        min-height: 100vh;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    /* 
    can also write like this ->
    .container .card-container:nth-child(even)
     */
    .container .card-container:nth-child(2n) {
        border-right: none;
    }
}

/* MOBILE VIEW */
@media (max-width: 599px) {
    .container {
        height: auto;
        min-height: 100vh;

        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 1fr;
    }

    .container .card-container {
        border-bottom: 1px solid #000000;
        border-right: none;
        padding: 15px 0;
    }

    .container .card-container .btn-hover {
        font-size: 16px;
        padding: 12px 20px;
    }
}

.container .card-container {
    text-align: center;
    align-content: center;
}

.container .bd-bottom {
    border-bottom: 1px solid #000000;
}

.container .bd-right {
    border-right: 1px solid #000000;
}

.btn-hover {
    color: #000000;
    background-color: transparent;
    font-size: 25px;

    border: 2px solid #000000;

    padding: 20px 40px;

    cursor: pointer;
}

button {
    position: relative;
    transition: color 1s linear;
    overflow: hidden;
}

button:hover {
    color: #ffffff;
}

button::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: steelblue;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
}

#hover-effect-1::before {
    transform: translateX(-100%);
    transform-origin: left center;
    transition: transform 1s ease;
}

#hover-effect-1:hover::before {
    transform: translateX(0);
}

#hover-effect-2::before {
    transform: translateX(100%);
    transform-origin: right center;
    transition: transform 1s ease-in;
}

#hover-effect-2:hover::before {
    transform: translateX(0);
}

#hover-effect-3::before {
    transform: translateY(100%);
    transform-origin: bottom center;
    transition: transform 1s ease-out;
}

#hover-effect-3:hover::before {
    transform: translateY(0);
}

#hover-effect-4::before {
    transform: translateY(-100%);
    transform-origin: top center;
    transition: transform 1s ease-in-out;
}

#hover-effect-4:hover::before {
    transform: translateY(0);
}

#hover-effect-5::before {
    transform: rotate(-90deg);
    transform-origin: left top;
    transition: transform 1s ease;
}

#hover-effect-5:hover::before {
    transform: rotate(0);
}

#hover-effect-6::before {
    transform: rotate(90deg);
    transform-origin: right top;
    transition: transform 1s ease-in;
}

#hover-effect-6:hover::before {
    transform: rotate(0);
}

#hover-effect-7::before {
    transform: rotate(90deg);
    transform-origin: left bottom;
    transition: transform 1s ease-out;
}

#hover-effect-7:hover::before {
    transform: rotate(0);
}

#hover-effect-8::before {
    transform: rotate(-90deg);
    transform-origin: right bottom;
    transition: transform 1s ease-in-out;
}

#hover-effect-8:hover::before {
    transform: rotate(0);
}

#hover-effect-9::before {
    transform: translate(-100%, -100%);
    transition: transform 1s ease;
}

#hover-effect-9:hover::before {
    transform: translate(0);
}

#hover-effect-10::before {
    transform: translate(100%, -100%);
    transition: transform 1s ease-in;
}

#hover-effect-10:hover::before {
    transform: translate(0);
}

#hover-effect-11::before {
    transform: translate(-100%, 100%);
    transition: transform 1s ease-out;
}

#hover-effect-11:hover::before {
    transform: translate(0);
}

#hover-effect-12::before {
    transform: translate(100%, 100%);
    transition: transform 1s ease-in-out;
}

#hover-effect-12:hover::before {
    transform: translate(0);
}
